<!--
  source: https://www.w3schools.com/howto/howto_js_todolist.asp  (modified by Zache Abdelatif to be shared on GITHUB)
-->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
